{% extends 'test_gallery/base.html' %}
{% load thumbnail %}

{% block title %}Галерея{% endblock %}
{% block content %}
	<div>
		<ul>
		{% for object in object_list %}
			<li>
					{% thumbnail object.file "100x100" as im %}
					    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
					{% endthumbnail %}
				<a href="{{ object.file.url }}">
					{{object.title}}
				</a>
				<a href="{% url 'DeletePhoto' gallery_pk object.pk %}">Комментарии</a>
			</li>
		{% endfor %}
		</ul>
	</div>
{% endblock %}
