{% extends 'test_gallery/base.html' %}
{% load thumbnail %}

{% block title %}Галерея{% endblock %}
{% block content %}
	<div>
		<ul>
		{% for object in object_list %}
			<li style="width: 300px;">
				<a href="{{ object.file.url }}">
					<p>{{object.title}}</p>
					<p>
						{% thumbnail object.file "100x100" as im %}
						    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
						{% endthumbnail %}
					</p>
				</a>
				<p>{{object.description}}</p>
				{% if user.is_authenticated %}
					<a href="{% url 'CreateComment' gallery_pk object.pk %}">Комментарии</a>
				{% else %}
					<a href="{% url 'CommentList' gallery_pk object.pk %}">Комментарии</a>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>
{% endblock %}
